apiversion: v1
name: onecx-help
version: 0.0.0
appversion: 0.0.0
dependencies:
- name: helm-product
  version: ^0
  repository: oci://ghcr.io/onecx/charts
  alias: product
- name: onecx-help-svc
  version: "*-0"
  repository: oci://ghcr.io/onecx/charts
  condition: "deployment.svc"  
  alias: "svc"
- name: onecx-help-bff
  version: "*-0"
  repository: oci://ghcr.io/onecx/charts
  condition: "deployment.bff"  
  alias: "bff"  
